/*---------------------------------VARIABLES---------------------------------*/
:root {
    $back-color: #FFFFCC;
}


/*---------------------------------END VARIABLES---------------------------------*/

/*---------------------------------TECHNICAL---------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $back-color;
}

// контейнер с мэин и эсайд
#container_main_aside {
    display: flex;
}
/*---------------------------------END TECHNICAL---------------------------------*/

/*---------------------------------HEADER---------------------------------*/
// стили для хидер и футер
header{
    background-color: rgb(0, 0, 0);
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}
/*---------------------------------END HEADER---------------------------------*/


/*---------------------------------MAIN---------------------------------*/
main{
    width: 50%;
    height: 100vh;
    margin-left: 5%;
    border: 1px solid silver;
    flex: 1;
}
/*---------------------------------END MAIN---------------------------------*/


/*---------------------------------ASIDE---------------------------------*/
/*высчитываем от main % по width и оставшуюся чать занимаем для aside*/
aside{
    border: 1px solid silver;
    width: 200px;
}
/*---------------------------------END ASIDE---------------------------------*/


/*---------------------------------FOOTER---------------------------------*/
footer {
    background-color: rgb(0, 0, 0);
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
}
/*---------------------------------END FOOTER---------------------------------*/